<form action="/" class="form-horizontal" method="get">
  <fieldset>
    <legend>{{isPrivate(selectit) ? 'Decrypt' : 'Encrypt'}} Message</legend>

    <div class="form-group" ng-class="[smartfade, {'has-error': pgperror}]" ng-show="isNewKey()">
      <label class="col-lg-2 control-label" for="pgppub">{{isPrivateKey() ? 'Private' : 'Public'}} Key</label>
      <div class="col-lg-10 controls">
        <textarea class="form-control autoselectall" focus-on="pgppub" rows="4" spellcheck="false" placeholder="Paste PGP key here."
          ng-model="rawkey" ng-model-options="{debounce:500}" ng-change="loadKey()"></textarea>
      </div>
    </div>
    <div ng-show="!isNewKey()">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="username">Username</label>
        <div class="col-lg-5 controls">
          <div class="input-append">
            <input class="form-control" type="text" readonly="readonly" ng-value="getUser(key)"/>
          </div>
        </div>
        <label class="col-lg-2 control-label" for="keyId">Key ID</label>
        <div class="col-lg-3 controls">
          <div class="input-append">
            <input class="form-control autoselectall" type="text" readonly="readonly" ng-value="getKeyId(key)"/>
          </div>
        </div>
      </div>
      <div class="form-group" ng-show="isPrivateKey() && !isNewKey()">
        <label class="col-lg-2 control-label" for="passphrase">Password</label>
        <div class="col-lg-10 controls">
          <div class="input-append" ng-class="{'has-error':passworderror}">
            <input type="password" class="form-control" focus-on="passphrase" ng-model-options="{debounce:500}"
              placeholder="{{isDecryptedKey() ? 'Key already decrypted' : 'Password for private key'}}"
              ng-model="password" ng-change="applyPassword()" ng-readonly="isDecryptedKey()"></input>
          </div>
        </div>
      </div>
      <div class="form-group" ng-click="showdetails = !showdetails">
        <a class="col-lg-10 col-lg-offset-2">{{showdetails ? 'Hide' : 'Show'}} key details
          <span class="pull-left"><i class="glyphicon"
              ng-class="{'glyphicon-chevron-up':showdetails, 'glyphicon-chevron-down':!showdetails}"></i>
          </span>
        </a>

      </div>
      <div ng-show="showdetails">
        <div class="form-group">
          <label class="col-lg-2 control-label" for="fingerprint">Fingerprint</label>
          <div class="col-lg-10 controls">
            <div class="input-append">
              <input class="form-control autoselectall" type="text" readonly="readonly" ng-value="getFingerprint(key)"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Public Key</label>
          <div class="col-lg-10 controls">
            <textarea class="form-control autoselectall" id="dest" readonly="readonly" rows="8"
                placeholder="Encrypted text will appear here.">{{rawkey}}</textarea>
          </div>
        </div>
        <div class="forum-group row">
          <div class="col-lg-10 col-lg-offset-2">
            <a class="btn btn-default" ng-show="isPrivateKey()" data-toggle="modal" data-target="#keyExport">Export Private Key</a>
            <a class="btn btn-default" data-toggle="modal" data-target="#keyDelete">Delete Key</a>
          </div>
          <!-- Modals -->
          <div id="keyExport" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Export Key Data</h4>
                </div>
                <div class="modal-body">
                  <div class="panel panel-warning">
                    <div class="panel-heading">
                      <h3 class="panel-title">Do not share this data with anyone!</h3>
                    </div>
                    <div class="panel-body">
                      <p>This data should be used to backup the private key, and import it to other pgp apps that you own.</p>
                      <p>Do NOT give this data to anyone as it will allow them to read your messages, or steal your identity!</p>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-2 control-label">Private Key</label>
                    <div class="col-lg-10 controls">
                      <textarea class="form-control autoselectall" id="dest" readonly="readonly" rows="8"
                          placeholder="Encrypted text will appear here.">{{rawkey_private}}</textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div id="keyDelete" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Delete Key Data</h4>
                </div>
                <div class="modal-body" ng-show="isPrivateKey()">
                  <div class="panel panel-danger">
                    <div class="panel-heading">
                      <h3 class="panel-title">This action is irreversible!</h3>
                    </div>
                    <div class="panel-body">
                      <p>This will permanently delete the key data! There will be no way to recover this identity unless YOU made a backup.</p>
                      <p>Are you sure you wish to do this?</p>
                    </div>
                  </div>
                </div>
                <div class="modal-body" ng-show="!isPrivateKey()">
                  Are you sure? This action cannot be reversed.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" ng-class="isPrivateKey() ? 'btn-danger' : 'btn-warning'" data-dismiss="modal" ng-click="deleteKey()">Delete!</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modals finish here -->
        </div>
      </div>
    </div>
    <hr/>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="src">Message</label>
      <div class="col-lg-10 controls" ng-show="!isPrivateKey()">
        <textarea class="form-control" focus-on="message" rows="8" spellcheck="false" placeholder="Type your mesage here."
          ng-model="message" ng-model-options="{debounce:500}" ng-change="encryptMessage()"></textarea>
      </div>
      <div class="col-lg-10 controls" ng-show="isPrivateKey()" ng-class="{'has-error': pmessageerror}">
        <textarea class="form-control autoselectall" focus-on="pmessage" rows="8" spellcheck="false" placeholder="Paste encrypted message here."
          ng-model="pmessage" ng-model-options="{debounce:500}" ng-change="decryptMessage()"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="dest">Result</label>
      <div class="col-lg-10 controls">
        <textarea class="form-control autoselectall" id="dest" readonly="readonly" rows="8"
            placeholder="Encrypted text will appear here.">{{resulttext}}</textarea>
        <div>
          <span id="hint_to">&nbsp;</span>&nbsp;
        </div>
      </div>
    </div>
  </fieldset>
</form>
