<div class="jumbotron">
  <h1>Get started with PGP</h1>
  <p class="lead">This website helps you send encrypted messages using PGP.</p>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3>Send a PGP Message</h3>
    <p>If you want to send an encrypted message and already have their PGP key it&#8217;s really simple:<p>
    <ol>
      <li>Paste their PGP key into the form.</li>
      <li>Type your message.</li>
      <li>Copy the encrypted result and send it to your recipient</li>
    </ol>
    <p>
      <a class="btn btn-primary" ui-sref="key">Get Started »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h3>Don&#8217;t have a PGP key?</h3>
    <p>You need to ask your recipient for their key, or suggest they go to <a href="https://pgp.help/#/generate">pgp.help</a> to generate one themselves.</p>
    <p>If you want to try out PGP why not use our key to send us a message?</p>
    <p>
      <a class="btn btn-primary" ui-sref="key({key:'1dfa77312bac1781f699e78223fd9f3e9b067569'})">Send us a Message »</a>
    </p>
  </div>
  <div class="col-lg-4">
    <h3>Want to Receive Messages?</h3>
    <p>We can generate a PGP key pair for you and store it inside your browser</p>
    <p>
      <a class="btn btn-primary" ui-sref="generate">Generate private key »</a>
    </p>
  </div>
</div>
<div id="#what" class="row">
  <div class="col-lg-12" ng-include src="'templates/introdoc.html'">
  </div> 
</div>
